body {
    background-color: black;
    color: magenta;
}

.light-mode {
    background-color: white;
    color: black;
}
input[type="submit"]{
    alignment: center;
    border: none;
    outline: none;
    background: magenta;
    padding: 11px 25px;
    width: 100px;
    margin-top: 30px;
    border-radius: 100px;
    font-weight: 600;
    cursor: pointer;
}